
<article id="blog_post">
  <header>
    <h1><%= @blog_post.title %></h1>
    <details>
      <time datetime="<%= @blog_post.published_at.strftime('%Y-%m-%d') %>" class='posted_at'>
        <%= @blog_post.published_at.strftime('%m.%d.%Y') %>
      </time>
    </details>
  </header>
  <%= @blog_post.body.html_safe %>

  <% if BlogPost::ShareThis.enabled? %>
    <span class="st_sharethis" displayText="ShareThis"></span>
  <% end %>
</article>
<%= render :partial => '/shared/draft_page_message' unless @blog_post.nil? or @blog_post.live? -%>
<% if next_or_previous?(@blog_post) -%>
    <%= render 'nav' %>
<% end -%>
