<div id="blog">
  <div id="cap"> </div>
  <div id="body">
    <div id="content">
      <div id="blog-navigation">
        <%= render :partial => "/blog/shared/categories" %>
        <%= render :partial => "/blog/shared/rss_feed" %>
        <%= blog_archive_list %>
      </div>
    
      <div id="blog-posts">
        <h1>Blog Archive for <%= @archive_date.strftime('%B %Y') %></h1>
        <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
      </div>
    
      <%= "There are no blog articles posted for #{@archive_date.strftime('%B %Y')}. Stay tuned." unless @blog_posts.any? %>
      <%# TODO: Add locale logic here - hubble is a n00b at that %>
    </div>
  </div>
  
  <div id="toe"> </div>
</div>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'refinerycms-blog' %>
    <%= javascript_include_tag('refinerycms-blog') %>
    <% if BlogPost::ShareThis.enabled? %>
      <script src="http://w.sharethis.com/button/buttons.js"></script>
      <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
    <% end %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
  <% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag 'refinerycms-blog' %>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
  <% end if BlogPost::ShareThis.enabled? %>
<% end %>

