<% content_for :body_content_title, @category.title %>

<section id="blog">
  <div id="cap"> </div>
  <div id="body">
    <section id="blog-navigation">
    <%= render :partial => "/blog/shared/categories" %>
    </section>
    
    <section id="blog-posts">
      <% if @category.posts.any? %>
        <%= render :partial => "/blog/shared/post", :collection => @category.posts %>
      <% else %>
        <p>
          <%= t('.no_posts') %>
        </p>
      <% end %>
    </section>
    
  </div>
  <div id="toe"></div>
</section>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'refinerycms-blog' %>
    <%= javascript_include_tag('refinerycms-blog') %>
    <% if BlogPost::ShareThis.enabled? %>
      <script src="http://w.sharethis.com/button/buttons.js"></script>
      <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
    <% end %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
  <% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag 'refinerycms-blog' %>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
  <% end if BlogPost::ShareThis.enabled? %>
<% end %>
