<section id='title_image'>
  <%=raw @page[:title_image] %>
</section>
<section id='central_image'>
  <%=raw @page[:central_image] %>
  <div id="project-description">
    <%=raw @page[:description] %>
  </div>
</section>
<section id='body_content'>
  <%=raw @page[:body] %>
</section>
<section id='side_body_content'>
  <%=raw @page[:contact_info] %>
</section>

<% content_for :head_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :head do %>
<script>
$(document).ready(function(){

  $("#body").fadeTo(0, 0.0);

  $("#project #right").fadeTo(0, 0.7);
  $("#project .thumbnail").fadeTo(0, 0.7);
  $("#project #thumbnails").hide();
  $("#project #thumbnails-bkd").hide();
  $("#project .image").hide();
  $("#project-description").hide();
  
  $("#project #right").mouseover(function(){
     $(this).fadeTo('slow', 1.0);
   }).mouseout(function(){
     $(this).fadeTo('slow', 0.7);
   });
   
   $("#project .thumbnail").mouseover(function(){
      $(this).fadeTo('slow', 1.0);
    }).mouseout(function(){
      $(this).fadeTo('slow', 0.7);
    });
   
   $('#project #right').click(function (){
     $("#project #thumbnails").slideToggle("slow");
     $("#project #thumbnails-bkd").slideToggle("slow");
     $("#project-description").slideToggle("slow");
   });
   
   $('#project .thumbnail').click(function (){
      var id = $(this).attr('id').split("_")[1];
      $("#project #image_" + id).fadeTo("slow", 1.0);
    });
    
    $('#project .close-button').click(function (){
        $("#project .image").fadeTo("slow", 0.0);
        $("#project .image").hide("slow");
      });
      
    $("#body").fadeTo(1500, 1.0);
    
    $('#submenu a, #menu a, #left-arrow, #right-arrow').click(function (){
        $("#body").fadeTo(500, 0.0);
    });
    
 });
 
</script>
<% end %>
