<section id='title_image'>
  <%=raw @page[:title_image] %>
</section>
<section id='central_image'>
  <%=raw @page[:central_image] %>
  
  <div id="project-description">
    <%=raw @page[:description] %>
  </div>
</section>
<section id='body_content'>
  <%=raw @page[:body] %>
</section>
<section id='side_body_content'>
  <%=raw @page[:contact_info] %>
</section>

<% content_for :head_libraries, jquery_include_tags(:jquery_ui => true) %>

<% content_for :head do %>
<script src="http://www.apple.com/library/quicktime/2.0/scripts/prototype.js" language="JavaScript" type="text/javascript"></script>
<script src="http://www.apple.com/library/quicktime/2.0/scripts/qtp_poster.js" language="JavaScript" type="text/javascript"></script>
<link href="http://www.apple.com/library/quicktime/2.0/stylesheets/qtp_poster.css" rel="StyleSheet" type="text/css" />

<script>
jQuery(document).ready(function(){

  jQuery("#body").fadeTo(0, 0.0);

  jQuery("#project #right").fadeTo(0, 0.7);
  jQuery("#project .thumbnail").fadeTo(0, 0.7);
  jQuery("#project #thumbnails").hide();
  jQuery("#project #thumbnails-bkd").hide();
  jQuery("#project .image").hide();
  jQuery("#project-description").hide();
  
  jQuery("#project #right").mouseover(function(){
     jQuery(this).fadeTo('slow', 1.0);
   }).mouseout(function(){
     jQuery(this).fadeTo('slow', 0.7);
   });
   
   jQuery("#project .thumbnail").mouseover(function(){
      jQuery(this).fadeTo('slow', 1.0);
    }).mouseout(function(){
      jQuery(this).fadeTo('slow', 0.7);
    });
   
   jQuery('#project #right').click(function (){
     jQuery("#project #thumbnails").slideToggle("slow");
     jQuery("#project #thumbnails-bkd").slideToggle("slow");
     jQuery("#project-description").slideToggle("slow");
   });
   
   jQuery('#project .thumbnail').click(function (){
      var id = jQuery(this).attr('id').split("_")[1];
      jQuery("#project #image_" + id).fadeTo("slow", 1.0);
    });
    
    jQuery('#project .close-button').click(function (){
        jQuery("#project .image").fadeTo("slow", 0.0);
        jQuery("#project .image").hide("slow");
      });
      
    jQuery("#body").fadeTo(1500, 1.0);
    
    jQuery('#submenu a, #menu a, #left-arrow, #right-arrow').click(function (){
        jQuery("#body").fadeTo(500, 0.0);
    });
    
    // free report link image swap
    // preload the image
    var report_image_over = jQuery('<img />').attr('src', '/images/free-report-box-over.png');
    var report_image = jQuery('<img />').attr('src', '/images/free-report-box.png');
    
    jQuery('#free_report_link').mouseover(function() {
      jQuery("#free_report").attr("src", "/images/free-report-box-over.png");
    }).mouseout(function(){
      jQuery("#free_report").attr("src", "/images/free-report-box.png");
    });
    
    jQuery("#video-player").replaceWith("<a href='/videos/ABOUT%20MDB_WEB%20VERSION_480X270.mov' rel='qtposter'><img src='/videos/ABOUT%20MDB_WEB%20VERSION_480X270.jpg' width='480' height='286' /></a>");
        
 });
</script>
<% end %>
