<div id='title_image'>
  <%=raw @page[:title_image] %>
</div>
<div id='central_image'>
  <%=raw @page[:central_image] %>
  
  <% unless @page[:worker_info].blank? %>
  <div id="worker-info">
     <%=raw @page[:worker_info] %>
  </div>
  <% end %>
  
  <% unless @page[:description].blank? %>
  <div id="project-description">
    <%=raw @page[:description] %>
  </div>
  <% end %>
</div>
<div id='body_content'>
  <%=raw @page[:body] %>
  <%- if @page.title.downcase == "about" -%>
  <script>
		flowplayer("player", "/videos/flowplayer-3.2.7.swf",  {

    	// here is our playlist with two clips
    	playlist: [

    		// this first PNG clip works as a splash image
    		{
    			url: '/videos/about_splash_458x258.jpg', 
    			scaling: 'orig'
    		},
    		// second clip is a video. when autoPlay is set to false the splash screen will be shown
    		{
    			url: '/videos/about_mdb_458x258.m4v', 
    			autoPlay: false, 
    			// video will be buffered when splash screen is visible
    			autoBuffering: true 
    		}
    	]
    });
	</script>
	<%- end -%>
</div>
<div id='side_body_content'>
  <%=raw @page[:contact_info] %>
</div>

<% content_for :head_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :head_libraries, javascript_include_tag('application', 'flowplayer-3.2.6.min') %>

<% content_for :head do %>
  
  <%- if @page.title == "Home" -%>
    <style type="text/css">
     #logo {
       display: none;
     }
    </style>
  <%- end -%>

<% end %>
