<div id='title_image'>
  <%=raw @page[:title_image] %>
</div>
<div id='central_image'>
  <%=raw @page[:central_image] %>
  
  <% unless @page[:worker_info].blank? %>
  <div id="worker-info">
     <%=raw @page[:worker_info] %>
  </div>
  <% end %>
  
  <% unless @page[:description].blank? %>
  <div id="project-description">
    <%=raw @page[:description] %>
  </div>
  <% end %>
</div>
<div id='body_content'>
  <%=raw @page[:body] %>
</div>
<div id='side_body_content'>
  <%=raw @page[:contact_info] %>
</div>

<% content_for :head_libraries, jquery_include_tags(:jquery_ui => true) %>
<% content_for :head_libraries, javascript_include_tag('application') %>

<% content_for :head do %>
  <script src="http://www.apple.com/library/quicktime/2.0/scripts/prototype.js" language="JavaScript" type="text/javascript"></script>
  <script src="http://www.apple.com/library/quicktime/2.0/scripts/qtp_poster.js" language="JavaScript" type="text/javascript"></script>
  <link href="/stylesheets/apple_qt_poster.css" rel="StyleSheet" type="text/css" />
  <script language="JavaScript" type="text/javascript">
    QTP.Poster.prototype.clickText = "<img src='/images/play_button.png'/>";
  </script>

  
  <%- if @page.title == "Home" -%>
    <style type="text/css">
     #logo {
       display: none;
     }
    </style>
  <%- end -%>

<% end %>
